<%- include("partials/header"); %>  
    <title>View Prescription</title>
    <link rel="stylesheet" type="text/css" href="/viewStock.css">
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

      <div class="container">
            <h1 class="display-4">View Prescription</h1>
            <hr>
            <table border="border">
                <thead>
                    <tr>
                        <th>first Name</th>
                        <th>Medicine Name</th>
                        <th>Dose</th> 
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <%foundPresc.forEach(presc=>{%>

                        <tr>
                            <td><%= presc.firstName %></td>
                            <td><%= presc.MedicineName%></td>
                            <td><%= presc.Dose%></td>
                            <td><%= presc.quantity%></td>
                        
                        </tr>

                    <%})%>
                    
                </tbody>
            </table>
        </div>
        <%- include("partials/footer"); %>  